<div class="add-device-page-container card">
    <div class="card-header add-device-header-custom">
        <h6 class="card-title add-device-title-custom">Add Devices / {{ name || '[Name Prefix]'}}</h6>
    </div>

    <div class="general-settings-card">
        <form class="nav-form">
            <div class="form-group input-group-custom">
                <label for="numberOfDevices" class="form-label label-custom">Number of Devices</label>
                <input type="number" class="form-control input-custom" id="numberOfDevices" name="numberOfDevices"
                    [(ngModel)]="numberOfDevices" required min="1" placeholder="Minimum 1 device">
            </div>

            <div class="form-group input-group-custom">
                <label for="name" class="form-label label-custom">Name Prefix</label>
                <input type="text" class="form-control input-custom" id="name" name="name" [(ngModel)]="name">
            </div>

            <div class="form-group input-group-custom">
                <label for="gateway" class="form-label label-custom">Gateway</label>
                <select id="gateway" [(ngModel)]="selectedGatewayId" name="gateway" class="form-control input-custom dropdown-input"
                    required>
                    <option [ngValue]="null" disabled>Select a gateway</option>
                    <option *ngFor="let gate of gateway" [ngValue]="gate.name">{{ gate.name }}
                    </option>
                </select>
            </div>

            <div class="form-group input-group-custom">
                <label for="region" class="form-label label-custom">Region</label>
                <select id="region" name="region" [(ngModel)]="region" class="form-control input-custom dropdown-input" required>
                    <option [ngValue]="null" disabled selected>Select a region</option> <!-- Updated text -->
                    <option *ngFor="let opt of regionOptions" [value]="opt">{{ opt }}</option>
                </select>
            </div>
        </form>

        <!-- Message Display Area -->
        <!-- <div *ngIf="message" class="mt-3 p-3 rounded"
            [ngClass]="{'bg-green-100 text-green-800 border border-green-400': !isError, 'bg-red-100 text-red-800 border border-red-400': isError}">
            {{ message }}
        </div> -->

        <div class="card-footer add-device-footer-custom">
            <button (click)="addDevices()" class="btn btn-primary save-btn-custom">
                Add
            </button>
        </div>
    </div>
</div>

<app-alert-modal
  *ngIf="modalConfig.show"
  [message]="modalConfig.message"
  [isError]="modalConfig.isError"
  [showCancelButton]="modalConfig.showCancelButton"
  (confirm)="onModalClose()"
  (cancel)="onModalClose()">
</app-alert-modal>
