<div class="add-device-page-container card">
    <div class="card-header add-device-header-custom">
        <!-- <h6 class="card-title add-device-title-custom">Edit Device</h6> -->
        <h6 class="card-title add-device-title-custom">Edit Device / {{ name || '[Device Name]' }}</h6>
    </div>

    <div class="card-body add-device-body-custom row no-gutters">
        <div class="col-md-3 add-device-sidebar-custom pr-4 border-end">
           <!-- <h6 class="sidebar-heading-custom">Device's Setting</h6>-->
            <nav class="nav-vertical-custom">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item tab-item-custom">
                        <a (click)="setActiveTab('General')"
                            [ngClass]="{'active-tab-link-custom': activeSettingTab === 'General'}"
                            class="list-group-item-action tab-link-custom">
                            General
                        </a>
                    </li>

                    <li class="list-group-item tab-item-custom">
                        <a (click)="setActiveTab('Activation')"
                            [ngClass]="{'active-tab-link-custom': activeSettingTab === 'Activation'}"
                            class="list-group-item-action tab-link-custom">
                            Activation
                        </a>
                    </li>

                    <li class="list-group-item tab-item-custom">
                        <a (click)="setActiveTab('Class')"
                            [ngClass]="{'active-tab-link-custom': activeSettingTab === 'Class'}"
                            class="list-group-item-action tab-link-custom">
                            Class
                        </a>
                    </li>

                    <!-- <li class="list-group-item tab-item-custom">
                        <a (click)="setActiveTab('Class B')"
                            [ngClass]="{'active-tab-link-custom': activeSettingTab === 'Class B'}"
                            class="list-group-item-action tab-link-custom">
                            Class B
                        </a>
                    </li> -->

                    <!-- <li class="list-group-item tab-item-custom">
                        <a (click)="setActiveTab('Class C')"
                            [ngClass]="{'active-tab-link-custom': activeSettingTab === 'Class C'}"
                            class="list-group-item-action tab-link-custom">
                            Class C
                        </a>
                    </li> -->

                    <li class="list-group-item tab-item-custom">
                        <a (click)="setActiveTab('Frame settings')"
                            [ngClass]="{'active-tab-link-custom': activeSettingTab === 'Frame settings'}"
                            class="list-group-item-action tab-link-custom">
                            Frame
                        </a>
                    </li>

                    <li class="list-group-item tab-item-custom">
                        <a (click)="setActiveTab('Features')"
                            [ngClass]="{'active-tab-link-custom': activeSettingTab === 'Features'}"
                            class="list-group-item-action tab-link-custom">
                            Features
                        </a>
                    </li>

                    <li class="list-group-item tab-item-custom">
                        <a (click)="setActiveTab('Location')"
                            [ngClass]="{'active-tab-link-custom': activeSettingTab === 'Location'}"
                            class="list-group-item-action tab-link-custom">
                            Location
                        </a>
                    </li>

                    <li class="list-group-item tab-item-custom">
                        <a (click)="setActiveTab('Payload')"
                            [ngClass]="{'active-tab-link-custom': activeSettingTab === 'Payload'}"
                            class="list-group-item-action tab-link-custom">
                            Payload
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-md-9 form-content-area-custom pl-4 overflow-auto">
            <div *ngIf="activeSettingTab === 'General'" class="general-settings-card">
                <h6 class="general-settings-heading">General Settings</h6>
                <form class="nav-form">
                    <div class="form-group form-check checkbox-group-custom">
                        <input type="checkbox" class="form-check-input checkbox-input-custom" id="active" name="active"
                            [(ngModel)]="active">
                        <label class="form-check-label checkbox-label-custom" for="active">Active</label>
                    </div>
                    <div class="form-group input-group-custom">
                        <label for="name" class="form-label label-custom">Name</label>
                        <input type="text" class="form-control input-custom" id="name" name="name" [(ngModel)]="name">
                    </div>
                    <div class="form-group input-group-custom">
                        <label for="devEUI" class="form-label label-custom">DevEUI</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-custom dev-eui-input-custom" id="devEUI"
                                name="devEUI" [(ngModel)]="devEUI" disabled>
                        </div>
                    </div>

                    <div class="form-group input-group-custom">
                        <label for="gateway" class="form-label label-custom">Gateway</label>
                        <select id="gateway" [(ngModel)]="selectedGateway" name="gateway"
                            class="form-control input-custom dropdown-input">
                            <option [ngValue]="null" disabled selected>Select a Gateway</option>
                            <option *ngFor="let gw of gatewayOptions" [ngValue]="gw">{{ gw.name }}</option>
                        </select>
                    </div>

                    <div class="form-group input-group-custom">
                        <label for="region" class="form-label label-custom">Region</label>
                        <select id="region" name="region" [(ngModel)]="region"
                            class="form-control input-custom dropdown-input">
                            <option value="" disabled selected>Select a Region</option>
                            <option *ngFor="let opt of regionOptions" [value]="opt">{{ opt }}</option>
                        </select>
                    </div>
                </form>
                <div class="card-footer add-device-footer-custom">
                    <button type="button" class="save-btn-custom btn btn-primary" (click)="updateAndNext()">
                        Update & Next
                    </button>
                    <button type="button" class="save-btn-custom btn btn-primary" (click)="updateAndClose()">
                        Update & Close
                    </button>
                </div>
            </div>

            <div *ngIf="activeSettingTab === 'Activation'" class="general-settings-card">
                <h6 class="general-settings-heading">Activation Settings</h6>
                <form class="nav-form">

                    <div class="form-group form-check checkbox-group-custom">
                        <input type="checkbox" class="form-check-input checkbox-input-custom" id="otaaSupported" name="otaaSupported"
                            [(ngModel)]="otaaSupported">
                        <label class="form-check-label checkbox-label-custom" for="otaaSupported">Otaa supported</label>
                    </div>


                    <div class="form-group input-group-custom">
                        <label for="appKey" class="form-label label-custom">App Key</label>
                        <div class="input-group">
                            <input [type]="showAppKey ? 'text' : 'password'" class="form-control input-custom"
                                id="appKey" name="appKey" [(ngModel)]="appKey">
                            <button class="btn btn-outline-secondary icon-btn-custom" type="button"
                                (click)="toggleAppKeyVisibility()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-eye">
                                    <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z" />
                                    <circle cx="12" cy="12" r="3" />
                                </svg>
                            </button>
                            <button class="btn btn-outline-secondary generate-btn-custom" type="button"
                                (click)="generateAppKey()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-rotate-cw">
                                    <path d="M21 12a9 9 0 1 1-9-9c2.52 0 4.93 1 6.74 2.74L21 8" />
                                    <path d="M21 3v5h-5" />
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="form-group input-group-custom">
                        <label for="devAddr" class="form-label label-custom">DevAddr</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-custom" id="devAddr" name="devAddr"
                                [(ngModel)]="devAddr" style="min-width: 44rem; background-color: #f2f2f2;" disabled>
                            <button class="btn btn-outline-secondary generate-btn-custom" type="button"
                                (click)="generateDevAddr()" style="background-color: #f2f2f2;" disabled>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-rotate-cw">
                                    <path d="M21 12a9 9 0 1 1-9-9c2.52 0 4.93 1 6.74 2.74L21 8" />
                                    <path d="M21 3v5h-5" />
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="form-group input-group-custom">
                        <label for="nwkSKey" class="form-label label-custom">NwkSKey</label>
                        <div class="input-group">
                            <input [type]="showNwkSKey ? 'text' : 'password'" class="form-control input-custom"
                                id="nwkSKey" name="nwkSKey" [(ngModel)]="nwkSKey" style="background-color: #f2f2f2;" disabled>
                            <button class="btn btn-outline-secondary icon-btn-custom" type="button"
                                (click)="toggleNwkSKeyVisibility()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-eye">
                                    <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z" />
                                    <circle cx="12" cy="12" r="3" />
                                </svg>
                            </button>
                            <button class="btn btn-outline-secondary generate-btn-custom" type="button"
                                (click)="generateNwkSKey()" style="background-color: #f2f2f2;" disabled>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-rotate-cw">
                                    <path d="M21 12a9 9 0 1 1-9-9c2.52 0 4.93 1 6.74 2.74L21 8" />
                                    <path d="M21 3v5h-5" />
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="form-group input-group-custom">
                        <label for="appSKey" class="form-label label-custom">AppSKey</label>
                        <div class="input-group">
                            <input [type]="showAppSKey ? 'text' : 'password'" class="form-control input-custom"
                                id="appSKey" name="appSKey" [(ngModel)]="appSKey" style="background-color: #f2f2f2;" disabled>
                            <button class="btn btn-outline-secondary icon-btn-custom" type="button"
                                (click)="toggleAppSKeyVisibility()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-eye">
                                    <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z" />
                                    <circle cx="12" cy="12" r="3" />
                                </svg>
                            </button>
                            <button class="btn btn-outline-secondary generate-btn-custom" type="button"
                                (click)="generateAppSKey()" style="background-color: #f2f2f2;" disabled>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-rotate-cw">
                                    <path d="M21 12a9 9 0 1 1-9-9c2.52 0 4.93 1 6.74 2.74L21 8" />
                                    <path d="M21 3v5h-5" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="card-footer add-device-footer-custom">
                    <button type="button" class="save-btn-custom btn btn-primary" (click)="updateAndNext()">
                        Update & Next
                    </button>
                    <button type="button" class="save-btn-custom btn btn-primary" (click)="updateAndClose()">
                        Update & Close
                    </button>
                </div>
            </div>

            <div *ngIf="activeSettingTab === 'Class'" class="general-settings-card">
                <h6 class="general-settings-heading">Class A Settings</h6>
                <form class="nav-form">
                    <h4 class="sub-heading-custom">RX1's Settings</h4>

                    <div class="form-group input-group-custom">
                        <label for="rx1Delay" class="form-label label-custom classA-label">Delay</label>
                        <input type="number" class="form-control input-custom" id="rx1Delay" name="rx1Delay"
                            [(ngModel)]="rx1Delay" placeholder="Value in milliseconds. Default value is 1 second.">
                    </div>

                    <div class="form-group input-group-custom">
                        <label for="rx1Duration" class="form-label label-custom classA-label">Duration</label>
                        <input type="number" class="form-control input-custom" id="rx1Duration" name="rx1Duration"
                            [(ngModel)]="rx1Duration" placeholder="Value in milliseconds. Default value is 3 seconds.">
                    </div>

                    <div class="form-group input-group-custom">
                        <label for="rx1DataRateOffset" class="form-label label-custom classA-label">Data Rate
                            offset</label>
                        <select id="rx1DataRateOffset" name="rx1DataRateOffset" [(ngModel)]="rx1DataRateOffset"
                            class="form-control input-custom dropdown-input">
                            <option value="" disabled selected></option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>

                    <h4 class="sub-heading-custom">RX2's Settings</h4>

                    <div class="form-group input-group-custom">
                        <label for="rx2Delay" class="form-label label-custom classA-label">Delay</label>
                        <input type="number" class="form-control input-custom" id="rx2Delay" name="rx2Delay"
                            [(ngModel)]="rx2Delay" placeholder="Value in milliseconds. Default value is 1 second.">
                    </div>

                    <div class="form-group input-group-custom">
                        <label for="rx2Duration" class="form-label label-custom classA-label">Duration</label>
                        <input type="number" class="form-control input-custom" id="rx2Duration" name="rx2Duration"
                            [(ngModel)]="rx2Duration" placeholder="Value in milliseconds. Default value is 3 seconds.">
                    </div>

                    <div class="form-group input-group-custom">
                        <label for="channelFrequency" class="form-label label-custom classA-label">Channel
                            frequency</label>
                        <input type="number" class="form-control input-custom" id="channelFrequency"
                            name="channelFrequency" [(ngModel)]="channelFrequency">
                    </div>

                    <div class="form-group input-group-custom">
                        <label for="dataRate" class="form-label label-custom classA-label">Data Rate</label>
                        <select id="dataRate" name="dataRate" [(ngModel)]="dataRate"
                            class="form-control input-custom dropdown-input">
                            <option value="" disabled selected></option>
                            <option value="DR0">DR0</option>
                            <option value="DR1">DR1</option>
                            <option value="DR2">DR2</option>
                            <option value="DR3">DR3</option>
                        </select>
                    </div>

                    <div class="form-group input-group-custom">
                        <label for="ackTimeout" class="form-label label-custom classA-label">ACK Timeout</label>
                        <input type="number" class="form-control input-custom" id="ackTimeout" name="ackTimeout"
                            [(ngModel)]="ackTimeout"
                            placeholder="Correct value between 1 and 3 seconds.Default value is 2 seconds.">
                    </div>

                    <h6 class="general-settings-heading">Class B Settings</h6>
                <!-- <form class="nav-form"> -->
                    <div class="form-group form-check checkbox-group-custom" style="margin-left: 1rem;">
                        <input type="checkbox" class="form-check-input checkbox-input-custom" id="classBSupported" name="classBSupported"
                            [(ngModel)]="classBSupported">
                        <label class="form-check-label checkbox-label-custom" for="classBSupported">Device Supports Class
                            B</label>
                    </div>
                <!-- </form> -->

                <h6 class="general-settings-heading">Class C Settings</h6>
                <!-- <form class="nav-form"> -->
                    <div class="form-group form-check checkbox-group-custom" style="margin-left: 1rem;">
                        <input type="checkbox" class="form-check-input checkbox-input-custom" id="classCSupported" name="classCSupported"
                            [(ngModel)]="classCSupported">
                        <label class="form-check-label checkbox-label-custom" for="classCSupported">Device Supports Class
                            C</label>
                    </div>
                <!-- </form> -->

                    <div class="card-footer add-device-footer-custom">
                        <button type="button" class="save-btn-custom btn btn-primary" (click)="updateAndNext()">
                            Update & Next
                        </button>
                        <button type="button" class="save-btn-custom btn btn-primary" (click)="updateAndClose()">
                            Update & Close
                        </button>
                    </div>
                </form>
            </div>

            <!-- <div *ngIf="activeSettingTab === 'Class B'" class="general-settings-card">
                <h6 class="general-settings-heading">Class B Settings</h6>
                <form class="nav-form">
                    <div class="form-group form-check checkbox-group-custom">
                        <input type="checkbox" class="form-check-input checkbox-input-custom" id="active" name="active"
                            [(ngModel)]="active">
                        <label class="form-check-label checkbox-label-custom" for="active">Device Supports Class
                            B</label>
                    </div>
                </form>
                <div class="card-footer add-device-footer-custom">
                    <button type="button" class="save-btn-custom btn btn-primary" (click)="updateAndNext()">
                        Update & Next
                    </button>
                    <button type="button" class="save-btn-custom btn btn-primary" (click)="updateAndClose()">
                        Update & Close
                    </button>
                </div>
            </div>

            <div *ngIf="activeSettingTab === 'Class C'" class="general-settings-card">
                <h6 class="general-settings-heading">Class C Settings</h6>
                <form class="nav-form">
                    <div class="form-group form-check checkbox-group-custom">
                        <input type="checkbox" class="form-check-input checkbox-input-custom" id="active" name="active"
                            [(ngModel)]="active">
                        <label class="form-check-label checkbox-label-custom" for="active">Device Supports Class
                            C</label>
                    </div>
                </form>
                <div class="card-footer add-device-footer-custom">
                    <button type="button" class="save-btn-custom btn btn-primary" (click)="updateAndNext()">
                        Update & Next
                    </button>
                    <button type="button" class="save-btn-custom btn btn-primary" (click)="updateAndClose()">
                        Update & Close
                    </button>
                </div>
            </div> -->

            <div *ngIf="activeSettingTab === 'Frame settings'" class="general-settings-card">
                <h6 class="general-settings-heading">Frame Settings</h6>
                <form class="nav-form">
                    <h4 class="sub-heading-custom">Uplink</h4>

                    <div class="form-group input-group-custom">
                        <label for="uplinkDataRate" class="form-label label-custom classA-label">Data Rate</label>
                        <select id="uplinkDataRate" name="uplinkDataRate" [(ngModel)]="uplinkDataRate"
                            class="form-control input-custom dropdown-input">
                            <option value="" disabled selected></option>
                            <option value="DR0">DR0</option>
                            <option value="DR1">DR1</option>
                            <option value="DR2">DR2</option>
                            <option value="DR3">DR3</option>
                        </select>
                    </div>

                    <div class="form-group input-group-custom">
                        <label for="fPort" class="form-label label-custom classA-label">FPort</label>
                        <input type="number" class="form-control input-custom" id="fPort" name="fPort"
                            [(ngModel)]="fPort" placeholder="Correct value between 1 and 223">
                    </div>

                    <div class="form-group input-group-custom">
                        <label for="retransmission" class="form-label label-custom classA-label">Retransmission</label>
                        <input type="number" class="form-control input-custom" id="retransmission" name="retransmission"
                            [(ngModel)]="retransmission" placeholder="Retransmission for ConfirmedData Uplink">
                    </div>
                    <div class="form-group input-group-custom">
                        <label for="fCnt" class="form-label label-custom classA-label">FCnt</label>
                        <input type="number" class="form-control input-custom" id="fCnt" name="fCnt" [(ngModel)]="fCnt"
                            placeholder="Default value is 0">
                    </div>
                    <h4 class="sub-heading-custom">Downlink</h4>

                    <div class="form-group form-check checkbox-group-custom">
                        <input type="checkbox" class="form-check-input checkbox-input-custom" id="fCntDownDisable"
                            name="fCntDownDisable" [(ngModel)]="fCntDownDisable">
                        <label class="form-check-label checkbox-label-custom" for="fCntDownDisable">(FCntDown) Disable
                            frame-counter validation.</label>
                    </div>

                    <div class="form-group input-group-custom">
                        <label for="fCntDown" class="form-label label-custom classA-label">FCntDown</label>
                        <input type="number" class="form-control input-custom" id="fCntDown" name="fCntDown"
                            [(ngModel)]="fCntDown" placeholder="FCntDown">
                    </div>
                </form>
                <div class="card-footer add-device-footer-custom">
                    <button type="button" class="save-btn-custom btn btn-primary" (click)="updateAndNext()">
                        Update & Next
                    </button>
                    <button type="button" class="save-btn-custom btn btn-primary" (click)="updateAndClose()">
                        Update & Close
                    </button>
                </div>
            </div>

            <div *ngIf="activeSettingTab === 'Features'" class="general-settings-card">
                <h6 class="general-settings-heading">Features Settings</h6>
                <form class="nav-form">
                    <div class="form-group form-check checkbox-group-custom">
                        <input type="checkbox" class="form-check-input checkbox-input-custom" id="adrEnabled" name="adrEnabled"
                            [(ngModel)]="adrEnabled">
                        <label class="form-check-label checkbox-label-custom" for="adrEnabled">ADR enabled</label>
                    </div>
                    <div class="form-group input-group-custom">
                        <label for="rangeAntenna" class="form-label label-custom classA-label">Range Antenna</label>
                        <input type="number" class="form-control input-custom" id="rangeAntenna" name="rangeAntenna"
                            [(ngModel)]="rangeAntenna" placeholder="Value in meters. Default value is 10000 m.">
                    </div>
                </form>
                <div class="card-footer add-device-footer-custom">
                    <button type="button" class="save-btn-custom btn btn-primary" (click)="updateAndNext()">
                        Update & Next
                    </button>
                    <button type="button" class="save-btn-custom btn btn-primary" (click)="updateAndClose()">
                        Update & Close
                    </button>
                </div>
            </div>

            <div *ngIf="activeSettingTab === 'Location'" class="general-settings-card">
                <h6 class="general-settings-heading">Location Settings</h6>
                <form class="nav-form">
                    <div class="map-container-wrapper">
                        <div id="map" class="map-custom"></div>
                        <div class="map-overlay-container" (mouseenter)="showSearchBox = true"
                            (mouseleave)="showSearchBox = false">
                            <button class="globe-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-globe-2">
                                    <path
                                        d="M21.54 15H17a2 2 0 0 0-2 2v4.54M7 3.34V5a3 3 0 0 0 3 3h6M5.07 12H2v-.82A9 9 0 0 1 20.77 8M18.42 1.56L17.47 2.51M22.21 4.29L21.26 5.24M2.79 7.71L3.74 6.76M1.56 18.42l.95-.95M18 12h.01M12 18h.01M12 6h.01M6 12h.01M12 12h.01M12 3a9 9 0 0 0-9 9 9 9 0 0 0 9 9 9 9 0 0 0 9-9 9 9 0 0 0-9-9Z" />
                                </svg>
                            </button>
                            <div class="search-box" [class.show-search]="showSearchBox">
                                <input type="text" class="form-control address-input-custom" placeholder="Enter address"
                                    [(ngModel)]="searchAddress" name="searchAddress">
                                <button class="btn btn-primary locate-btn-custom" type="button"
                                    (click)="searchLocation()">Locate</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group input-group-custom">
                        <label for="latitude" class="form-label label-custom">Latitude</label>
                        <input type="number" class="form-control input-custom" id="latitude" name="latitude"
                            [(ngModel)]="latitude" (ngModelChange)="onLatLngChange()">
                    </div>

                    <div class="form-group input-group-custom">
                        <label for="longitude" class="form-label label-custom">Longitude</label>
                        <input type="number" class="form-control input-custom" id="longitude" name="longitude"
                            [(ngModel)]="longitude" (ngModelChange)="onLatLngChange()">
                    </div>

                    <div class="form-group input-group-custom">
                        <label for="altitude" class="form-label label-custom">Altitude</label>
                        <input type="number" class="form-control input-custom" id="altitude" name="altitude"
                            [(ngModel)]="altitude">
                    </div>
                </form>
                <div class="card-footer add-device-footer-custom">
                    <button type="button" class="save-btn-custom btn btn-primary" (click)="updateAndNext()">
                        Update & Next
                    </button>
                    <button type="button" class="save-btn-custom btn btn-primary" (click)="updateAndClose()">
                        Update & Close
                    </button>
                </div>
            </div>

            <div *ngIf="activeSettingTab === 'Payload'" class="general-settings-card">
                <h6 class="general-settings-heading">Payload Settings</h6>
                <form class="nav-form">
                    <div class="form-group input-group-custom">
                        <label for="uplinkInterval" class="form-label label-custom">Uplink Interval</label>
                        <input type="number" class="form-control input-custom" id="uplinkInterval" name="uplinkInterval"
                            [(ngModel)]="uplinkInterval" placeholder="Value in seconds. Default value is 10 sec.">
                    </div>

                    <div class="form-group row mb-3 pt-3" style="margin-left: 8rem;">
                        <div class="col-sm-12">
                            <p class="form-text text-muted mb-2">If the payload exceeds the maximum size allowed by
                                regional
                                parameters:</p>
                        </div>
                        <div class="form-group input-group-custom">
                            <div class="form-check form-check-inline me-4">
                                <input class="form-check-input" type="radio" name="payloadExceedsAction"
                                    id="fragmentsFrame" value="fragments" [(ngModel)]="payloadExceedsAction">
                                <label class="form-check-label" for="fragmentsFrame">Fragments the frame</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="payloadExceedsAction"
                                    id="truncatesFrame" value="truncates" [(ngModel)]="payloadExceedsAction">
                                <label class="form-check-label" for="truncatesFrame">Truncates the frame</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group input-group-custom" style="margin-left: 2rem;">
                        <label for="mType" class="form-label label-custom">MType:</label>
                        <div class="form-check form-check-inline me-4">
                            <input class="form-check-input" type="radio" name="mType" id="confirmedDataUp"
                                value="ConfirmedDataUp" [(ngModel)]="mType">
                            <label class="form-check-label" for="confirmedDataUp">ConfirmedDataUp</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="mType" id="unconfirmedDataUp"
                                value="UnConfirmedDataUp" [(ngModel)]="mType">
                            <label class="form-check-label" for="unconfirmedDataUp">UnConfirmedDataUp</label>
                        </div>
                    </div>

                    <div class="form-group input-group-custom" style="margin-left: 2rem;">
                        <label for="payloadContent" class="form-label label-custom">Payload</label>
                        <textarea class="form-control input-custom" id="payloadContent" name="payloadContent"
                            [(ngModel)]="payloadContent" rows="5"></textarea>
                    </div>

                    <div class="form-group row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                            <div class="form-check checkbox-group-custom">
                                <input type="checkbox" class="form-check-input checkbox-input-custom" id="base64Encoded"
                                    name="base64Encoded" [(ngModel)]="base64Encoded">
                                <label class="form-check-label checkbox-label-custom" for="base64Encoded">Base64
                                    encoded</label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="card-footer add-device-footer-custom">
                    <button type="button" class="save-btn-custom btn btn-primary" (click)="updateAndClose()">
                        Update & Close
                    </button>
                </div>
            </div>
        </div>
    </div>

<app-alert-modal
  *ngIf="modalConfig.show"
  [message]="modalConfig.message"
  [isError]="modalConfig.isError"
  [showCancelButton]="modalConfig.showCancelButton"
  (confirm)="onModalClose()"
  (cancel)="onModalClose()">
</app-alert-modal>
