.action-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

// .mat-play {
//     color: green;
// }

// .mat-stop {
//     color: red;
// }

// .mat-uplink {
//     color: blue;
// }

// .mat-logs {
//     color: yellow;
// }